<%= form_for(@edb) do |f| %>
  <% if @edb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@edb.errors.count, "error") %> prohibited this edb from being saved:</h2>

      <ul>
      <% @edb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%=f.label :event_id, class: 'control.label' %>
    <div class="controls">
      <%= collection_select( :edb, :event_id, Event.all, :id, :name, {}, { :multiple => false }) %>
    </div>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_field :note %>
  </div>
  <div class="field">
    <%= f.label :distance %><br>
    <%= f.number_field :distance %>
  </div>
  <div class="control-group">
    <%=f.label :document_id, class: 'control.label' %>
    <div class="controls">
      <%= collection_select( :edb, :document_id, Document.all, :id, :name, {}, { :multiple => false }) %>
    </div>
  </div>
  <div class="control-group">
    <%=f.label :beacon_id, class: 'control.label' %>
    <div class="controls">
      <%= collection_select( :edb, :beacon_id, Beacon.all, :id, :name, {}, { :multiple => false }) %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
