<p id="notice"><%= notice %></p>

<h1>Listing Edbs</h1>

<table>
  <thead>
    <tr>
      <th>Document</th>
      <th>Beacon</th>
      <th>Event</th>
      <th>Note</th>
      <th>Distance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @edbs.each do |edb| %>
      <tr>
        <td><%= edb.document.name %></td>
        <td><%= edb.beacon.name %></td>
        <td><%= edb.event.name %></td>
        <td><%= edb.note %></td>
        <td><%= edb.distance %></td>
        <td><%= link_to 'Show', edb %></td>
        <td><%= link_to 'Edit', edit_edb_path(edb) %></td>
        <td><%= link_to 'Destroy', edb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Edb', new_edb_path %>
