<p id="notice"><%= notice %></p>

<h1>Listing Beacons</h1>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>

      <tbody>
        <% @beacons.each do |beacon| %>
          <tr>
            <td><%= beacon.name %></td>
            <td><%= beacon.description %></td>
            <td><%= link_to 'Show', beacon, class: 'btn btn-mini' %></td>
            <td><%= link_to 'Edit', edit_beacon_path(beacon), class: 'btn btn-mini btn-success' %></td>
            <td><%= link_to 'Destroy', beacon, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'Add Beacon', new_beacon_path, class: 'btn btn-mini' %>
