<p id="notice"><%= notice %></p>

<h1>Listing Edbguests</h1>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th>Guest</th>
      <th>Edb</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @edbguests.each do |edbguest| %>
      <tr>
        <td><%= edbguest.note %></td>
        <td><%= edbguest.guest.id %></td>
        <td><%= edbguest.edb.id %></td>
        <td><%= link_to 'Show', edbguest %></td>
        <td><%= link_to 'Edit', edit_edbguest_path(edbguest) %></td>
        <td><%= link_to 'Destroy', edbguest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Edbguest', new_edbguest_path %>
