<!DOCTYPE html>
<html>
<head>
  <title>Hendo2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>



<div class="container">
  <ul class="nav nav-tabs">

    <%= link_to "Events", root_path %>
    <%= link_to "Documents", documents_path %>
    <%= link_to "Beacons", beacons_path %>
    <%= link_to "EDBs", edbs_path %>
    <%= link_to "Guests", guests_path %>
    <%= link_to "EdbGuests", edbguests_path %>
  </ul>
<%= yield %>

</body>
</html>
